@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Html.PartialAsync("/Areas/Admin/Views/Template/HeaderPartial.cshtml")

<body class="theme-blue">

    <!-- Page Loader -->
    @await Html.PartialAsync("/Areas/Admin/Views/Template/LoaderPartial.cshtml")

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">

        @await Html.PartialAsync("/Areas/Admin/Views/Template/NavbarPartial.cshtml")

        @await Html.PartialAsync("/Areas/Admin/Views/Template/RightbarPartial.cshtml")

        @await Html.PartialAsync("/Areas/Admin/Views/Template/SidebarPartial.cshtml")

        <div id="main-content">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h1>@ViewBag.Title1</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@ViewBag.Title2Url">@ViewBag.Title2</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title1</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right hidden-xs">
                        <a href="@ViewBag.ButtonUrl" class="btn btn-sm btn-primary" title="">@ViewBag.Button</a>
                    </div>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>

    @await Html.PartialAsync("/Areas/Admin/Views/Template/ScriptPartial.cshtml")

</body>
</html>